body{
  margin: 0;
display: flex;
flex-direction: column;
align-items: center;
height: 100vh;
justify-content: center;
background: url("https://plus.unsplash.com/premium_photo-1673603988651-99f79e4ae7d3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
background-size: cover;
background-position:center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
overflow: hidden;
}
h2{
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 15px;
  color: white;
 
}

.clock{
  display: flex;

}

.clock div{
  margin: 5px;
  position:relative;
}

.clock span{
  width: 100px;
  height: 80px;
  background-color: slateblue;
  opacity: 0.8;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-shadow: 2px 2px  4px rgba(0,0,0,0.3);

}
.clock .text{
    height: 30px;
    
    font-size: 10px;
    text-transform: uppercase;
    background:darkblue;

    letter-spacing: 2px;
}

.clock #ampm{
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 30px;
  font-size: 20px;
  background:green ;
  
}

